@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");
@import url("http://fonts.googleapis.com/css?family=Cookie");
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #0091ca;
}

/* Bottom right text */
.textblock {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 50px;
  flex: 25%;
}
.container {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.container .textblock {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 30%;
  right: 0;
  text-align: center;
  top: 10%; /* Adjust this value to move the positioned div up and down */

  font-family: "Cookie", Helvetica, sans-serif;
  color: #fff;
  width: 60%; /* Set the width of the positioned div */
}
.section09 a {
  padding-top: 80px;
}
.section09 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.section09 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.section09 a span::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: "";
  margin-left: -9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.top {
  flex: 25%;
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-family: "Public Sans", sans-serif;
}

.navbar_right {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 26px;
  color: #ffffff;
  font-size: 18px;
}

.about:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}
.portfolio:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}
.skills:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}
.contact:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}

.navbar_left {
  cursor: pointer;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.full_name {
  font-size: 25px;
}
html,
body {
  height: 100%;
}

body {
  /* background: linear-gradient(270deg, #1db6d9, #6b6ddf); */
  background-size: 400% 400%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wyncode_image {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin-top: 50px;
}
.flex_column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image_caption {
  font-family: "Public Sans", sans-serif;
  color: #ffffff;
}

.tag_line {
  font-size: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  margin-top: 140px;
}
.column {
  flex: 25%;
  max-width: 60%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  overflow-y: scroll;

  cursor: pointer;
}
.overlay {
  overflow-y: scroll;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(2px);
  -webkit-transform: scale();
  -ms-transform: scale(1.2);
  transform: scale();
  filter: brightness(50%);
}

.hovereffect h2 {
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin-top: 30%;
  background: black;
  font-family: "Public Sans", sans-serif;
}

.hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  font-family: "Public Sans", sans-serif;
}

.hovereffect:hover p.info,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.footer {
  margin-top: 100px;

  bottom: 0;
  background-color: #111111;
  color: #ffffff;
  text-align: center;
  max-width: 100%;
  height: 100px;
}

@media (max-width: 991px) {
  .sitefooter [class^="col-"] {
    margin-bottom: 30px;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    flex: 25%;
  }
}
@media (max-width: 767px) {
  .sitefooter {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.socialicons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socialicons li {
  display: inline-block;
  margin-bottom: 4px;
}
.socialicons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.socialicons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.socialicons a:active,
.socialicons a:focus,
.socialicons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.socialicons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.socialicons a.facebook:hover {
  background-color: #3b5998;
}
.socialicons a.twitter:hover {
  background-color: #00aced;
}
.socialicons a.linkedin:hover {
  background-color: #007bb6;
}
.socialicons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    flex: 25%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    flex: 25%;
  }
  .overlay_text {
    font-family: "Public Sans", sans-serif;
    font-size: 12px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    flex: 25%;
  }
  .overlay_text {
    font-family: "Public Sans", sans-serif;
    font-size: 10px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
}
@media screen and (max-width: 570px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .overlay_text {
    font-family: "Public Sans", sans-serif;
    font-size: 10px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
}
@media only screen and (max-device-width: 375px) {
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    flex: 25%;
  }
  .row {
    margin-top: 100px;
  }
  .navbar_right {
    font-size: 10px;
  }
  .navbar_left {
    font-size: 10px;
  }
  .full_name {
    font-size: 15px;
  }
  .about:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .contact:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .portfolio:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .skills:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }

  .wyncode_image {
    height: 100px;
  }
  .tag_line {
    font-size: 15px;
  }

  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
}
@media only screen and (max-device-width: 414px) {
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
  .row {
    margin-top: 100px;
  }

  .navbar_right {
    font-size: 10px;
  }
  .navbar_left {
    font-size: 10px;
  }
  .full_name {
    font-size: 15px;
  }
  .about:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .contact:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .portfolio:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .skills:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .wyncode_image {
    height: 120px;
    width: 120px;
    border-radius: 60px;
  }
  .tag_line {
    font-size: 15px;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
}

.wyncode_image:hover {
  filter: brightness(130%);
  box-shadow: 0px 0px 150px 0px silver;
  animation: dance 1s ease-in-out infinite alternate;
}
@keyframes dance {
  0% {
    transform: rotateX(30deg) rotateY(-30deg) rotateZ(-10deg) scale(1.1);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.05);
  }
  40% {
    transform: rotateX(-30deg) rotateY(30deg) rotateZ(10deg) scale(1.1);
  }
  60% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.05);
  }
  80% {
    transform: rotateX(30deg) rotateY(30deg) rotateZ(-10deg) scale(1.1);
  }
}
