@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
html,
body {
  overflow-x: hidden;
}
.home_background {
  background-color: #0091ca;
}

* {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: #0091ca;
}

/* Bottom right text */
.textblock {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 50px;
  flex: 25%;
}
.container {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.container .textblock {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 30%;
  right: 0;
  text-align: center;
  top: 10%; /* Adjust this value to move the positioned div up and down */

  font-family: "Roboto", sans-serif;
  color: #fff;
  width: 60%; /* Set the width of the positioned div */
}

.top {
  flex: 25%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.topOne {
  flex: 25%;
  width: 100%;
  margin-top: -5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-family: "Public Sans", sans-serif;
}

.navbar_right {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 26px;
  color: #ffffff;
  font-size: 18px;
}

.about:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}
.portfolio:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}
.skills:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}
.contact:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  cursor: pointer;
}

.navbar_left {
  cursor: pointer;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.full_name {
  font-size: 25px;
}

body {
  background-size: 400% 400%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

.wyncode_image {
  height: 220px;
  width: 220px;

  margin-top: 50px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image_caption {
  font-family: "Public Sans", sans-serif;
  color: white;
}

.tag_line {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  margin-top: 140px;
}
.column {
  flex: 25%;
  max-width: 60%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  overflow-y: scroll;

  cursor: pointer;
}
.overlay {
  overflow-y: scroll;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(2px);
  -webkit-transform: scale();
  -ms-transform: scale(1.2);
  transform: scale();
  filter: brightness(50%);
}

.hovereffect h2 {
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin-top: 30%;
  background: black;
  font-family: "Public Sans", sans-serif;
}

.hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  font-family: "Public Sans", sans-serif;
}

.hovereffect:hover p.info,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.aboutMe {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;

  color: white;
  text-shadow: 2px 2px black;
}
.aboutMeTwo {
  display: flex;
  justify-content: center;
  font-family: "Public Sans", sans-serif;
  color: white;
  margin-top: 1%;
}
.developertag {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-shadow: 2px 2px black;
  font-size: 30px;
  text-align: center;
}

.aboutMeTwoP {
  width: 70%;
  text-align: left;
}
.footer {
  height: 15vh;
  width: 100%;
  background-color: #222222;
  margin-top: 15%;
}
.foot_div {
  display: flex;
  line-height: 15vh;
  font-family: "Roboto", sans-serif;
  color: white;
  justify-content: center;
  font-size: 15px;
}
.foot_one {
  margin-right: 2%;
}
.foot_three {
  margin-left: 2%;
}
.pose {
  display: block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  flex: 25%;
  height: 280px;
  width: 280px;
}
* {
  padding: 0;
  margin: 0;
}
.about_body {
  background-color: #791829;
}
.about_image {
  width: 100%;
  object-fit: cover;
}
.head {
  background-color: #6f232d;
}
.textblock {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 50px;
  flex: 25%;
}
.container {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.container .textblock {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 1%;
  right: 0;
  text-align: center;
  top: 60%; /* Adjust this value to move the positioned div up and down */

  font-family: "Roboto", sans-serif;
  color: #fff;
  width: 60%; /* Set the width of the positioned div */
}
.index_container .index_textblock {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 1%;
  right: 0;
  text-align: center;
  top: 80%; /* Adjust this value to move the positioned div up and down */

  font-family: "Roboto", sans-serif;
  color: #fff;
  width: 60%; /* Set the width of the positioned div */
}
.portfolio_head {
  background-color: #537982;
}
.portfolio_body {
  background-color: #6f9fa9;
}
.oddjobs_image {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex: 25%;
}
.oddjob_pose {
  margin-top: 5%;
}
.barhop_image {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex: 25%;
}
.oddjob_head {
  background-color: #efbcc3;
}
.oddjobs_body {
  background-color: #fffce9;
}

.icon_container {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

.oddjobdevelopertag {
  font-family: "Roboto", sans-serif;
  color: black;
  text-shadow: 2px 2px white;
  font-size: 30px;
  text-align: center;
}
.oddjobdeveloperpara {
  color: black;
}
.oddjobs_image_div {
  flex: 20%;
  border-radius: 5px;
  margin-top: 2%;
}
.barhop_head {
  background-color: #08222c;
}
.barhop_body {
  background-color: #b45b36;
}

.arrow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);

  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.2s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.image_label {
  margin-top: 1%;
  text-align: center;
}
.example_e {
  border: none;
  background: #222222;
  color: #ffffff !important;
  font-weight: 100;
  padding: 7%;
  width: 200px;
  text-transform: uppercase;

  display: inline-block;
  transition: all 0.3s ease 0s;
  text-align: center;
}
.example_e:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
  .foot_div {
    display: flex;
    line-height: 15vh;
    font-family: "Roboto", sans-serif;
    color: white;
    justify-content: center;
    font-size: 10px;
  }
  .example_e {
    width: 80px;
  }
  .tag_line {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px black;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
  .arrow span {
    visibility: hidden;
  }

  .oddjobdevelopertag {
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 12px;
    text-align: center;
  }
  .oddjobp2 {
    font-size: 10px;
  }
  .developerpara {
    font-size: 10px;
  }

  .pose {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 25%;
    height: 250px;
    width: 250px;
  }

  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    flex: 25%;
  }

  .aboutMe {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .foot_div {
    display: flex;
    line-height: 15vh;
    font-family: "Roboto", sans-serif;
    color: white;
    justify-content: center;
    font-size: 10px;
  }
  .example_e {
    width: 80px;
  }
  .tag_line {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px black;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
  .arrow span {
    visibility: hidden;
  }
  .oddjobdevelopertag {
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 12px;
    text-align: center;
  }
  .oddjobp2 {
    font-size: 10px;
  }
  .pose {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 25%;
    height: 250px;
    width: 250px;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  .developerpara {
    font-size: 10px;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    flex: 25%;
  }
  .developertag {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 15px;
  }

  .aboutMe {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .foot_div {
    display: flex;
    line-height: 15vh;
    font-family: "Roboto", sans-serif;
    color: white;
    justify-content: center;
    font-size: 10px;
  }
  .example_e {
    width: 80px;
  }
  .tag_line {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px black;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
  .arrow span {
    visibility: hidden;
  }
  .oddjobdevelopertag {
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 12px;
    text-align: center;
  }
  .oddjobp2 {
    font-size: 10px;
  }
  .pose {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 25%;
    height: 250px;
    width: 250px;
  }

  .developerpara {
    font-size: 10px;
  }
  .aboutMe {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .developertag {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 15px;
  }
  .coffee {
    height: 200px;
    width: 200px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    flex: 25%;
  }
  .overlay_text {
    font-family: "Public Sans", sans-serif;
    font-size: 12px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
}
@media screen and (max-width: 600px) {
  .foot_div {
    display: flex;
    line-height: 15vh;
    font-family: "Roboto", sans-serif;
    color: white;
    justify-content: center;
    font-size: 10px;
  }
  .example_e {
    width: 80px;
  }
  .tag_line {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px black;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
  .arrow span {
    visibility: hidden;
  }
  .oddjobdevelopertag {
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 12px;
    text-align: center;
  }
  .pose {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 25%;
    height: 250px;
    width: 250px;
  }

  .developerpara {
    font-size: 10px;
  }
  .coffee {
    height: 200px;
    width: 200px;
  }
  .developertag {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 15px;
  }
  .aboutMe {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    flex: 25%;
  }
  .overlay_text {
    font-family: "Public Sans", sans-serif;
    font-size: 10px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
}
@media screen and (max-width: 570px) {
  .foot_div {
    display: flex;
    line-height: 15vh;
    font-family: "Roboto", sans-serif;
    color: white;
    justify-content: center;
    font-size: 10px;
  }
  .example_e {
    width: 80px;
  }
  .tag_line {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px black;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
  .arrow span {
    visibility: hidden;
  }
  .oddjobdevelopertag {
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 12px;
    text-align: center;
  }
  .oddjobp2 {
    font-size: 10px;
  }
  .pose {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 25%;
    height: 250px;
    width: 250px;
  }

  .developerpara {
    font-size: 10px;
  }
  .developertag {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 15px;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .overlay_text {
    font-family: "Public Sans", sans-serif;
    font-size: 10px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
}
@media only screen and (max-device-width: 375px) {
  .foot_div {
    display: flex;
    line-height: 15vh;
    font-family: "Roboto", sans-serif;
    color: white;
    justify-content: center;
    font-size: 10px;
  }
  .example_e {
    width: 80px;
  }
  .tag_line {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px black;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
  .arrow span {
    visibility: hidden;
  }
  .oddjobdevelopertag {
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 12px;
    text-align: center;
  }
  .oddjobp2 {
    font-size: 10px;
  }
  .pose {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 25%;
    height: 250px;
    width: 250px;
  }

  .developerpara {
    font-size: 10px;
  }
  .developertag {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 15px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
  .textblock {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    flex: 25%;
  }
  .row {
    margin-top: 100px;
  }
  .navbar_right {
    font-size: 10px;
  }
  .navbar_left {
    font-size: 10px;
  }
  .full_name {
    font-size: 15px;
  }
  .about:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .contact:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .portfolio:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .skills:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }

  .wyncode_image {
    height: 100px;
  }
  .coffee {
    height: 200px;
    width: 200px;
  }
  .tag_line {
    font-size: 15px;
  }

  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
}
@media only screen and (max-device-width: 414px) {
  .foot_div {
    display: flex;
    line-height: 15vh;
    font-family: "Roboto", sans-serif;
    color: white;
    justify-content: center;
    font-size: 10px;
  }
  .example_e {
    width: 80px;
  }
  .tag_line {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px black;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
  .arrow span {
    visibility: hidden;
  }
  .oddjobdevelopertag {
    font-family: "Roboto", sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    font-size: 12px;
    text-align: center;
  }
  .oddjobp2 {
    font-size: 10px;
  }
  .pose {
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 25%;
    height: 250px;
    width: 250px;
  }

  .developerpara {
    font-size: 10px;
  }
  .hovereffect p.info {
    font-size: 12px;

    margin: 20px 0 0 0;
    background-color: transparent;
  }
  .row {
    margin-top: 100px;
  }

  .navbar_right {
    font-size: 10px;
  }
  .navbar_left {
    font-size: 10px;
  }
  .full_name {
    font-size: 15px;
  }
  .about:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .contact:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .portfolio:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .skills:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
    height: 14px;
  }
  .wyncode_image {
    height: 120px;
    width: 120px;
    border-radius: 60px;
  }
  .tag_line {
    font-size: 15px;
  }
  .image_label {
    font-size: 10px;
  }
  .image_label_two {
    font-size: 10px;
  }
}

.wyncode_image:hover {
  filter: brightness(130%);

  animation: dance 1s ease-in-out infinite alternate;
}
